.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.lock
**/.idea/
**/.vscode/
**/*.iml
**/local.properties
**/.gradle/
android/.gradle/
android/local.properties
android/build/
example/build/
example/.dart_tool/
example/ios/
example/macos/
example/windows/
example/linux/
example/web/
*.log
.DS_Store
